* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto color";
}

.section {
  width: 100%;
  height: 100vh;
  position: relative;
}
.section .anchor {
  position: absolute;
  top: 0;
  left: 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.5s linear;
  z-index: -1;
}
.modal.modal__active {
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal.modal__active .modal__inner {
  transform: translate(-50%, -50%);
}
.modal.modal__hide {
  z-index: 100;
}
.modal .modal__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200%);
  transition: transform 0.5s linear;
  display: flex;
  justify-content: space-between;
}
.modal .modal__inner:not(.modal__vertical) {
  flex-direction: row;
  width: min(135.71vh, 95vw);
  height: min(95vh, 66.5vw);
}
.modal .modal__inner:not(.modal__vertical) .modal__tittle {
  width: 33%;
  height: 100%;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-family: "Montserrat";
  font-size: 100px;
  font-weight: 700;
  text-align: left;
  padding: 5.5%;
  font-size: calc(calc(min(135.71vh, 95vw)*0.33) * 0.17);
  background-color: #fff;
  z-index: 101;
}
.modal .modal__inner:not(.modal__vertical) .modal__tittle span {
  position: relative;
  background-color: #01ffde;
  z-index: -1;
}
.modal .modal__inner:not(.modal__vertical) .modal__form {
  width: 67%;
  height: 100%;
  padding: 6%;
  background: url("../../img/modal-back.png") center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-attachment: scroll;
  background-color: black;
  z-index: 101;
}
.modal .modal__inner:not(.modal__vertical) .modal__form form {
  width: 100%;
  height: 100%;
}
.modal .modal__inner:not(.modal__vertical) .modal__form > form > * {
  width: 100%;
  margin: calc(min(95vh, 66.5vw)*0.02) 0px;
  display: block;
}
.modal .modal__inner:not(.modal__vertical) .modal__form .text__input {
  width: 100%;
  height: calc(min(95vh, 66.5vw)*0.07);
  box-sizing: border-box;
  padding-left: 3%;
  border-radius: calc(min(95vh, 66.5vw)*0.035);
  border: none;
  font-size: calc(min(95vh, 66.5vw)*0.02);
  font-family: "Montserrat";
}
.modal .modal__inner:not(.modal__vertical) .modal__form .text__input:focus {
  outline: none;
}
.modal .modal__inner:not(.modal__vertical) .modal__form .select {
  width: 100%;
  position: relative;
}
.modal .modal__inner:not(.modal__vertical) .modal__form .select .select__button {
  width: calc(calc(min(135.71vh, 95vw) * 0.67)*0.07);
  height: calc(min(95vh, 66.5vw)*0.07);
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: calc(min(95vh, 66.5vw)*0.035);
  border-bottom-left-radius: calc(min(95vh, 66.5vw)*0.035);
  z-index: 103;
  line-height: calc(min(95vh, 66.5vw)*0.07);
}
.modal .modal__inner:not(.modal__vertical) .modal__form .select .select__button img {
  vertical-align: middle;
  width: auto;
  height: 30%;
}
.modal .modal__inner:not(.modal__vertical) .modal__form .select .select__button .selected__flag {
  margin: 0 10%;
}
.modal .modal__inner:not(.modal__vertical) .modal__form .select .select__button .selecte__arrow {
  transform: rotate(90deg);
}
.modal .modal__inner:not(.modal__vertical) .modal__form .select .select__button:hover {
  background-color: #e8e8e8;
}
.modal .modal__inner:not(.modal__vertical) .modal__form .select .text__input {
  padding-left: calc(calc(calc(min(135.71vh, 95vw) * 0.67)*0.07)*1.03);
}
.modal .modal__inner:not(.modal__vertical) .modal__form .select ul {
  display: none;
  width: 60%;
  height: 300%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  overflow: auto;
  z-index: 104;
}
.modal .modal__inner:not(.modal__vertical) .modal__form .select ul li {
  width: 100%;
  height: 14%;
  list-style-type: none;
  font-size: calc(calc(min(95vh, 66.5vw)*0.07)*0.3);
  font-family: system-ui;
  color: #7d7d7c;
  cursor: pointer;
}
.modal .modal__inner:not(.modal__vertical) .modal__form .select ul li img {
  margin: 0 3%;
}
.modal .modal__inner:not(.modal__vertical) .modal__form .select ul li:hover {
  background-color: #e8e8e8;
}
.modal .modal__inner:not(.modal__vertical) .modal__form .select.select__active .select__button img:last-child {
  transform: rotate(-90deg);
}
.modal .modal__inner:not(.modal__vertical) .modal__form .select.select__active ul {
  display: block;
}
.modal .modal__inner:not(.modal__vertical) .modal__form textarea.text__input {
  min-height: calc(min(95vh, 66.5vw)*0.09);
  max-height: calc(min(95vh, 66.5vw)*0.15);
  padding-top: 2%;
  resize: vertical;
}
.modal .modal__inner:not(.modal__vertical) .modal__form .form__policy {
  color: #7d7d7c;
  font-size: calc(min(95vh, 66.5vw)*0.02);
  font-family: "Montserrat";
}
.modal .modal__inner:not(.modal__vertical) .modal__form .agree {
  z-index: 103;
}
.modal .modal__inner:not(.modal__vertical) .modal__form .agree * {
  vertical-align: middle;
}
.modal .modal__inner:not(.modal__vertical) .modal__form .agree .agree__checkbox {
  display: none;
}
.modal .modal__inner:not(.modal__vertical) .modal__form .agree .agree__checkbox__custom {
  display: inline-block;
  width: calc(min(95vh, 66.5vw)*0.025);
  height: calc(min(95vh, 66.5vw)*0.025);
  background-color: #fff;
  border-radius: 3px;
  position: relative;
}
.modal .modal__inner:not(.modal__vertical) .modal__form .agree .agree__checkbox__custom svg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(min(95vh, 66.5vw)*0.03);
  height: calc(min(95vh, 66.5vw)*0.03);
  z-index: 1001;
  fill: #01ffde;
  opacity: 0;
  transition: 0.1s;
}
.modal .modal__inner:not(.modal__vertical) .modal__form .agree .agree__checkbox:checked + .agree__checkbox__custom svg {
  opacity: 1;
}
.modal .modal__inner:not(.modal__vertical) .modal__form .agree .agree__prompt {
  margin-left: 1%;
  font-size: calc(min(95vh, 66.5vw)*0.022);
  color: #fff;
}
.modal .modal__inner:not(.modal__vertical) .modal__form .button__input {
  margin: 0 auto;
  width: 55%;
  height: calc(min(95vh, 66.5vw)*0.08);
  border-radius: calc(min(95vh, 66.5vw)*0.04);
  background-color: #01ffde;
  font-size: calc(min(95vh, 66.5vw)*0.03);
  font-family: "Montserrat";
  border: none;
  transition: 0.2s;
}
.modal .modal__inner:not(.modal__vertical) .modal__form .button__input:focus {
  outline: none;
}
.modal .modal__inner:not(.modal__vertical) .modal__form .button__input:hover {
  width: 53%;
  height: calc(min(95vh, 66.5vw)*0.078);
  font-size: calc(min(95vh, 66.5vw)*0.028);
  border: 2px solid #000;
}
.modal .modal__inner.modal__vertical {
  flex-direction: column;
  width: 90vw;
  height: 138vw;
}
.modal .modal__inner.modal__vertical .modal__tittle {
  width: 100%;
  height: 20%;
  font-family: "Montserrat";
  font-size: 100px;
  font-weight: 700;
  text-align: left;
  padding: 5.5%;
  font-size: calc(calc(138vw*0.2) * 0.17);
  background-color: #fff;
  z-index: 101;
}
.modal .modal__inner.modal__vertical .modal__tittle span {
  position: relative;
  background-color: #01ffde;
  z-index: -1;
}
.modal .modal__inner.modal__vertical .modal__form {
  width: 100%;
  height: 80%;
  padding: 6%;
  background: url("../../img/modal-back.png") center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-attachment: scroll;
  background-color: black;
  z-index: 101;
}
.modal .modal__inner.modal__vertical .modal__form form {
  width: 100%;
  height: 100%;
}
.modal .modal__inner.modal__vertical .modal__form > form > * {
  width: 100%;
  margin: calc(calc(138vw * 0.8)*0.02) 0px;
  display: block;
}
.modal .modal__inner.modal__vertical .modal__form .text__input {
  width: 100%;
  height: calc(calc(138vw * 0.8)*0.07);
  box-sizing: border-box;
  padding-left: 3%;
  border-radius: calc(calc(138vw * 0.8)*0.035);
  border: none;
  font-size: calc(calc(138vw * 0.8)*0.02);
  font-family: "Montserrat";
}
.modal .modal__inner.modal__vertical .modal__form .text__input:focus {
  outline: none;
}
.modal .modal__inner.modal__vertical .modal__form .select {
  width: 100%;
  position: relative;
}
.modal .modal__inner.modal__vertical .modal__form .select .select__button {
  width: calc(90vw*0.07);
  height: calc(calc(138vw * 0.8)*0.07);
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: calc(calc(138vw * 0.8)*0.035);
  border-bottom-left-radius: calc(calc(138vw * 0.8)*0.035);
  z-index: 103;
  line-height: calc(calc(138vw * 0.8)*0.07);
}
.modal .modal__inner.modal__vertical .modal__form .select .select__button img {
  vertical-align: middle;
  width: auto;
  height: 30%;
}
.modal .modal__inner.modal__vertical .modal__form .select .select__button .selected__flag {
  margin: 0 10%;
}
.modal .modal__inner.modal__vertical .modal__form .select .select__button .selecte__arrow {
  transform: rotate(90deg);
}
.modal .modal__inner.modal__vertical .modal__form .select .select__button:hover {
  background-color: #e8e8e8;
}
.modal .modal__inner.modal__vertical .modal__form .select .text__input {
  padding-left: calc(calc(90vw*0.07)*1.03);
}
.modal .modal__inner.modal__vertical .modal__form .select ul {
  display: none;
  width: 60%;
  height: 300%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  overflow: auto;
  z-index: 104;
}
.modal .modal__inner.modal__vertical .modal__form .select ul li {
  width: 100%;
  height: 14%;
  list-style-type: none;
  font-size: calc(calc(calc(138vw * 0.8)*0.07)*0.3);
  font-family: system-ui;
  color: #7d7d7c;
  cursor: pointer;
}
.modal .modal__inner.modal__vertical .modal__form .select ul li img {
  margin: 0 3%;
}
.modal .modal__inner.modal__vertical .modal__form .select ul li:hover {
  background-color: #e8e8e8;
}
.modal .modal__inner.modal__vertical .modal__form .select.select__active .select__button img:last-child {
  transform: rotate(-90deg);
}
.modal .modal__inner.modal__vertical .modal__form .select.select__active ul {
  display: block;
}
.modal .modal__inner.modal__vertical .modal__form textarea.text__input {
  min-height: calc(calc(138vw * 0.8)*0.09);
  max-height: calc(calc(138vw * 0.8)*0.15);
  padding-top: 2%;
  resize: vertical;
}
.modal .modal__inner.modal__vertical .modal__form .form__policy {
  color: #7d7d7c;
  font-size: calc(calc(138vw * 0.8)*0.02);
  font-family: "Montserrat";
}
.modal .modal__inner.modal__vertical .modal__form .agree {
  z-index: 103;
}
.modal .modal__inner.modal__vertical .modal__form .agree * {
  vertical-align: middle;
}
.modal .modal__inner.modal__vertical .modal__form .agree .agree__checkbox {
  display: none;
}
.modal .modal__inner.modal__vertical .modal__form .agree .agree__checkbox__custom {
  display: inline-block;
  width: calc(calc(138vw * 0.8)*0.025);
  height: calc(calc(138vw * 0.8)*0.025);
  background-color: #fff;
  border-radius: 3px;
  position: relative;
}
.modal .modal__inner.modal__vertical .modal__form .agree .agree__checkbox__custom svg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(calc(138vw * 0.8)*0.03);
  height: calc(calc(138vw * 0.8)*0.03);
  z-index: 1001;
  fill: #01ffde;
  opacity: 0;
  transition: 0.1s;
}
.modal .modal__inner.modal__vertical .modal__form .agree .agree__checkbox:checked + .agree__checkbox__custom svg {
  opacity: 1;
}
.modal .modal__inner.modal__vertical .modal__form .agree .agree__prompt {
  margin-left: 1%;
  font-size: calc(calc(138vw * 0.8)*0.022);
  color: #fff;
}
.modal .modal__inner.modal__vertical .modal__form .button__input {
  margin: 0 auto;
  width: 55%;
  height: calc(calc(138vw * 0.8)*0.08);
  border-radius: calc(calc(138vw * 0.8)*0.04);
  background-color: #01ffde;
  font-size: calc(calc(138vw * 0.8)*0.03);
  font-family: "Montserrat";
  border: none;
  transition: 0.2s;
}
.modal .modal__inner.modal__vertical .modal__form .button__input:focus {
  outline: none;
}
.modal .modal__inner.modal__vertical .modal__form .button__input:hover {
  width: 53%;
  height: calc(calc(138vw * 0.8)*0.078);
  font-size: calc(calc(138vw * 0.8)*0.028);
  border: 2px solid #000;
}
.modal .modal__inner .modal__close {
  width: 4%;
  height: 4%;
  position: absolute;
  top: 4%;
  right: 4%;
  fill: #fff;
  cursor: pointer;
}

.header {
  width: 94vw;
  height: 7%;
  position: fixed;
  top: 3vh;
  left: 3vw;
  right: 3vw;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__logo {
  width: auto;
  height: 70%;
}
.header .nav {
  height: 100%;
}
.header .nav > * {
  display: inline-block;
  vertical-align: middle;
}
.header .nav .nav__link {
  margin: 0px 20px;
  position: relative;
  color: #7d7d7c;
  text-decoration: none;
  font-family: system-ui;
}
.header .nav .nav__link:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #01ffde;
}
.header .nav .start__project {
  height: 100%;
  color: #7d7d7c;
  text-decoration: none;
  text-transform: uppercase;
  font-family: system-ui;
  cursor: pointer;
  transform: rotate(-90deg);
}
.header .nav .start__project > * {
  display: inline-block;
  vertical-align: bottom;
}
.header .nav .start__project span {
  text-align: right;
}
.header .nav .start__project img {
  width: auto;
  height: 50%;
}

.aside__slider {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  z-index: 10;
}
.aside__slider div {
  width: 14px;
  height: 14px;
  margin: 14px 0px;
  cursor: pointer;
  border: 1px solid #01ffde;
  border-radius: 7px;
  transition: border linear 0.25s;
}
.aside__slider .slider__item__active {
  width: 15px;
  height: 15px;
  border: 6px solid #01ffde;
  border-radius: 8px;
}

.intro {
  background: url("../../img/intro-back.png") center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.intro h {
  font-family: "Montserrat";
  font-size: 100px;
  font-weight: 700;
  text-align: left;
}
.intro h span {
  position: relative;
  background-color: #01ffde;
  z-index: -1;
}
.intro .intro__button {
  padding: 25px;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  font-family: sans-serif;
}

.letsdo {
  background-color: #57b1fa;
  position: relative;
}
.letsdo .letsdo__inner {
  width: 80%;
  height: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}
.letsdo .letsdo__inner .letsdo__tittle {
  font-family: "Montserrat";
  font-size: 100px;
  font-weight: 700;
  text-align: left;
  font-size: 120px;
  text-align: left;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  line-height: 100px;
  width: 35%;
  height: 100%;
}
.letsdo .letsdo__inner .letsdo__tittle span {
  position: relative;
  background-color: #01ffde;
  z-index: -1;
}
.letsdo .letsdo__inner .letsdo__body {
  width: 65%;
  height: 100%;
}
.letsdo .letsdo__inner .letsdo__body .letsdo__inf {
  width: 100%;
  height: 90%;
  position: relative;
}
.letsdo .letsdo__inner .letsdo__body .letsdo__inf p {
  width: 45%;
  opacity: 0.8;
  font-family: system-ui;
  font-size: 17px;
  line-height: 40px;
}
.letsdo .letsdo__inner .letsdo__body .letsdo__inf .letsdo__p2 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.letsdo .letsdo__inner .letsdo__body .letsdo__button {
  width: 100%;
  height: 10%;
  position: relative;
}
.letsdo .letsdo__inner .letsdo__body .letsdo__button a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  border-radius: 50px;
  color: #000;
  font-family: sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #01ffde;
}

.capabilities {
  background: url("../../img/capabilities-back.png") center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.97);
}

.contact {
  background: url("../../img/contacts-back.png") center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* */

/*# sourceMappingURL=index.css.map */
